.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
   
  .popup .content {
    position:absolute;
   top:170%;
    left:55%;
    transform:translate(-50%,-50%) scale(0);
    background:white;
    width:95%;
    max-width:500px;
    height:300px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
   
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
   
  .popup.active .overlay {
    display:block;
  }
   
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }

  
  body
  {
     text-align: center;
     margin: 0px 250px ;  
  }
  header ul,li,a{
    color: white;
    text-decoration: none;
    font-size: small;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: small;
   
  }
  ._links
  {
    list-style: none;
  }
  ._links li
  {
   display: inline-block;
   padding: 0px 2px;
  }
  ._links,a:hover
  {
   color: yellow;
  }
  
  .table a{
      background-color: white;
      color:black;
      text-align: center;
      padding-left: 30px;
      text-decoration: none;
      font-family: "Lucida Console", "Courier New", monospace;
    }
  
  div.tittle h1
    {
      font-family:"Eras Light ITC";
      font-size: x-large;
      text-align: center;
    }
  div.middle 
  {
      color: white;
      background-color: black;
      font-family: "Courier New";
      
  }
  div.content
  {
    justify-content: center;
  }
  div.last
  {
      
      color: white;
      background-color: black;
      font-family: "Viner Hand ITC";
      
  }
  
  div.middle h2
  {
      font-family: "Viner Hand ITC";
  }
  
  form.example button {
      text-align: center;
      padding: 14px 25px;
      background: white;
      color: white;
     
    }
  
  div.social a{
    background-color: white;
      color:black;
      padding: 10px 13px;
      text-decoration: none;
      font-family: "Lucida Console", "Courier New", monospace;
  
  }
  .SS
  {
    margin-left: -20px;
   width: 600px;
   height: 600px;
  }
  .imagewrap
   {
     
    display:inline-block;
    position: relative;
    cursor: pointer;
  
  }
  .button1
   {
     position:absolute;right:55%;top:180%;
     cursor: pointer;
    border: 1px solid #e2e9ee;
    color: transparent;
    height: 50px;
    width: 100px;
    color: #f4f7fa;
    background-color: transparent;
    }
    .button1:hover
    {
      position:absolute;
      top: 190%;
      right: 45%;
      transform:translate(-50%,-50%);
      font-size:15px;
      border:2px solid #222;
      color:white;
      background:rgb(15, 15, 15);
      /*background-color: black;
      color: cornsilk;
      height: 20px;
      width: 100px;*/
    }
    .button2
   {
    position:absolute;left:40%;top:20%;
    cursor: pointer;
    border: 1px solid #b6c7d3;
    background-color: transparent;
    height: 120px;
    width: 100px;
    color: #c9dae6;
    
    }
   
    